<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="icon" type="image/png" href="/images/favicon-32x32.png">
    <title>Weather Forecast</title>
</head>

<body>
    <!-- FRONTPAGE -->
    <article id="frontpage">

        <!-- HEADER -->
        <header>
            <section>
                <img id="logo" src="/images/logo.svg" alt="">
                <a id="logo-header" href="">Weather Forecast</a>
            </section>
            <section>
                <a href="">Home</a>
                <a href="">Resourses</a>
                <a href="">Contact</a>
                <a href="">Review</a>
            </section>
        </header>
        <!-- HEADER -->

        <!-- HALFPAGE -->
        <article id="halfpage">

            <!-- SEARCHSECTION -->
            <section id="search-section">
                <h1 id="h1">Real-Time Weather Forecast</h1>
                <h1>JUST ONE CLICK AHEAD!!</h1>
                <div id="searchbar">
                    <input id="search" type="search" placeholder="Enter the Location">
                    <button id="submit">SEARCH</button>
                </div>
                <h2 id="h2" class="h2">Kaithal, Haryana, India</h2>
                <h2 class="h2">Today's Temperature is 30 but it feels like 30</h2>
                <div id="place-saver">
                    <h3 class="place-saver">Kaithal<img src="/images/close-button-white.svg" alt=""></h3>
                </div>
            </section>
            <!-- SEARCHSECTION -->

            <!-- DATASECTION -->
            <section id="data-section">
                <div id="all-rec">
                    <div class="rec">
                        <div class="inner-rec">
                            <h3 class="day">WED</h3>
                            <p class="date">May 9</p>
                        </div>
                        <div class="inner-rec"><img id="behaviour" src="/images/clound with sun.svg" alt=""></div>
                        <div id="inner-rec" class="inner-rec">
                            <p class="degree">19</p> <img src="/images/degree.svg" alt="">
                        </div>
                    </div>
                    <div class="rec">
                        <div class="inner-rec">
                            <h3 class="day">WED</h3>
                            <p class="date">May 9</p>
                        </div>
                        <div class="inner-rec"><img id="behaviour" src="/images/clound with sun.svg" alt=""></div>
                        <div id="inner-rec" class="inner-rec">
                            <p class="degree">19</p> <img src="/images/degree.svg" alt="">
                        </div>
                    </div>
                    <div class="rec">
                        <div class="inner-rec">
                            <h3 class="day">WED</h3>
                            <p class="date">May 9</p>
                        </div>
                        <div class="inner-rec"><img id="behaviour" src="/images/clound with sun.svg" alt=""></div>
                        <div id="inner-rec" class="inner-rec">
                            <p class="degree">19</p> <img src="/images/degree.svg" alt="">
                        </div>
                    </div>
                    <div class="rec">
                        <div class="inner-rec">
                            <h3 class="day">WED</h3>
                            <p class="date">May 9</p>
                        </div>
                        <div class="inner-rec"><img id="behaviour" src="/images/clound with sun.svg" alt=""></div>
                        <div id="inner-rec" class="inner-rec">
                            <p class="degree">19</p> <img src="/images/degree.svg" alt="">
                        </div>
                    </div>
                    <div class="rec">
                        <div class="inner-rec">
                            <h3 class="day">WED</h3>
                            <p class="date">May 9</p>
                        </div>
                        <div class="inner-rec"><img id="behaviour" src="/images/clound with sun.svg" alt=""></div>
                        <div id="inner-rec" class="inner-rec">
                            <p class="degree">19</p> <img src="/images/degree.svg" alt="">
                        </div>
                    </div>
                    <div class="rec">
                        <div class="inner-rec">
                            <h3 class="day">WED</h3>
                            <p class="date">May 9</p>
                        </div>
                        <div class="inner-rec"><img id="behaviour" src="/images/clound with sun.svg" alt=""></div>
                        <div id="inner-rec" class="inner-rec">
                            <p class="degree">19</p> <img src="/images/degree.svg" alt="">
                        </div>
                    </div>
                </div>
                <div id="data-view">
                    <div id="data-view-timer">
                        <p id="timer">8:45 pm</p>
                    </div>
                    <div id="data-view-temp">
                        <p id="temp">22</p><img src="/images/degree.svg" alt="">
                    </div>
                    <div id="data-view-location"><img src="/images/location.svg" alt="">
                        <p id="location">Kaithal</p>
                    </div>
                    <div id="data-view-behaviour">
                        <img id="data-view-behaviour-img" src="/images/clound with sun.svg" alt="">
                    </div>
                    <div id="data-view-wind"><img src="/images/wind.svg" alt="">
                        <p id="wind">9 km/hr</p>
                    </div>
                </div>
            </section>
            <!-- DATASECTION -->

        </article>
        <!-- HALFPAGE -->

        <h4 id="developer">Developer : Mohit Sharma</h4>
        <h4 id="reviewer">Please give a <a href="">Review</a> about this app
            and help us Improve</h4>
    </article>
    <!-- FRONTPAGE -->
    <script src="/js/app.js"></script>
    <script src="/js/timer.js"></script>
</body>

</html>